
.line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aaa;
  opacity: .3;
}

.line-inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

div[class^='line-'], div[class*=' line-']{
  transition: all 2s;
}

.line-l {
  position: fixed;
  width: 1px;
  left: 20px;
  top: 20px;
  bottom: 20px;

  .line-l-t {
    @extend .line-inner;
    height: calc(50% - 24px);
    left: 0;
  }

  .line-l-b {
    @extend .line-inner;
    height: calc(50% - 24px);
    left: 0;
    bottom: 0;
  }
}

.line-t {
  position: fixed;
  left: 20px;
  top: 20px;
  right: 20px;
  height: 1px;

  .line-t-l {
    @extend .line-inner;
    width: 50px;
    top: 0;
  }

  .line-t-r {
    @extend .line-inner;
    width: calc(100% - 250px);
    top: 0;
    right: 0;
  }
}
