
.line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $outline-color;
  opacity: .3;
}

.line-inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

div[class^='line-'], div[class*=' line-']{
  transition: $outline-transition;
}

.line-l {
  position: fixed;
  width: 1px;
  left: $outline-padding;
  top: $outline-padding;
  bottom: $outline-padding;

  .line-l-t {
    @extend .line-inner;
    height: calc(50% - 24px);
    left: 0;
  }

  .line-l-b {
    @extend .line-inner;
    height: calc(50% - 24px);
    left: 0;
    bottom: 0;
  }
}

.line-t {
  position: fixed;
  left: $outline-padding;
  top: $outline-padding;
  right: $outline-padding;
  height: 1px;

  .line-t-l {
    @extend .line-inner;
    width: 50px;
    top: 0;
  }

  .line-t-r {
    @extend .line-inner;
    width: calc(100% - 250px);
    top: 0;
    right: 0;
  }
}

.line-r {
  position: fixed;
  width: 1px;
  right: $outline-padding;
  top: $outline-padding;
  bottom: $outline-padding;

  .line-r-t {
    @extend .line-inner;
    height: 50%;
    right: 0;
  }

  .line-l-b {
    @extend .line-inner;
    height: 50%;
    right: 0;
    bottom: 0;
  }
}

.line-b {
  position: fixed;
  left: $outline-padding;
  bottom: $outline-padding;
  right: $outline-padding;
  height: 1px;

  .line-t-l {
    @extend .line-inner;
    width: 50%;
    bottom: 0;
  }

  .line-t-r {
    @extend .line-inner;
    width: 50%;
    bottom: 0;
    right: 0;
  }
}
