:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.oh {
    overflow: hidden;
}

.wrap {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
}

.transparent {
    opacity: 0;

    .top {
        opacity: 0;
    }

    .side {
        opacity: 0;
    }
}

.section {
    .ds-section {
        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    @media (min-width: $screen-sm-min) {
        .ds-section {
            left: $outline-padding;
            right: $outline-padding;
            bottom: $outline-padding;
            top: $outline-padding;
        }
    }
}

.page-title {
    color: #595975;
    position: relative;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    margin-top: 103px;
    text-transform: uppercase;
    letter-spacing: 1px;

    .underline {
        width: 28px;
        height: 1px;
        background: #F04444;
        position: absolute;
        bottom: -3px;
        left: calc(50% - 14px);
    }
}

@media (min-width: $screen-sm-min) {
    .page-title {
        font-size: 48px;
        margin-top: 2px;

        .underline {
            width: 46px;
            height: 2px;
            bottom: -18px;
            left: calc(50% - 23px);
        }
    }
}
