@import '~reset-css/reset.css';
@import '~do-slide/dist/do-slide.min.css';
@import './icomoon.scss';
@import './variables.scss';
@import './outlines.scss';
@import './pager.scss';
.oh {
    overflow: hidden;
}

.wrap {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
}

.transparent {
    opacity: 0;
}

.section {
    >.container {
        z-index: 2;
        position: absolute;
        left: $outline-padding;
        right: $outline-padding;
        bottom: $outline-padding;
        top: $outline-padding;
        text-align: center;
    }
}