
@import '~reset-css/reset.css';
@import '~do-slide/dist/do-slide.min.css';

@import './variables.scss';
@import './outlines.scss';
@import './pager.scss';

.oh {
  overflow: hidden;
}

.page {

  > .container {
    position: absolute;
    left: $outline-padding;
    right: $outline-padding;
    bottom: $outline-padding;
    top: $outline-padding;

    text-align: center;
  }

}