$bg-color: #ffffff;
$icon-color: #94AAB8;
$outline-padding: 80px;
$outline-color: #C6D6E0;
$transition-timing-function: ease;
$action-transition-speed: .73s;
$transition-speed: 1.5s;
$action-transition: all $transition-timing-function $action-transition-speed;
$transition: all $transition-timing-function $transition-speed;
$fast-transition: $transition /* all ease .75s */;
$outline-transition: $transition;
$pager-transition: $fast-transition;