
#social-share {
    background-color: $bg-color;
    position: fixed;
    right: $outline-padding - 18px;
    bottom: $outline-padding + 18px;
    width: 36px;

    a {
        display: inline-block;
        text-decoration: none;
        padding: 8px;
    }

    .share {
        display: block;
        transform: rotate(270deg);
        text-transform: uppercase;
        margin: 36px 0px;
        color: #C6D6E0;
        font-size: 14px;
        line-height: 16px;
    }
}
