.line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $outline-color;
}

.line-base {
    overflow: hidden;
    position: fixed;
}

.line-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

div[class^='line-'],
div[class*=' line-'] {
    transition: $outline-transition;
}

#line-t {
    @extend .line-base;

    transition: $outline-transition;
    left: $outline-padding;
    top: $outline-padding;
    right: $outline-padding + 175px;
    height: 1px;

    &.one {
        right: $outline-padding + 46px;
    }

    .line-t-l {
        @extend .line-inner;

        transform: translateX(-97px);
        width: 50%;
        top: 0;

        &.f {
            transform: translateX(0px);

            .line-t-l-l {
                transform: translateX(-40px);
            }

            .line-t-l-r {
                transform: translateX($outline-padding * 2 + 40px + 72px);
            }
        }

        .line-t-l-l {
            @extend .line-inner;

            transform: translateX(-40px) translateX(97px);
            width: $outline-padding * 2;
            top: 0;
        }

        .line-t-l-r {
            @extend .line-inner;

            transform: translateX($outline-padding * 2 + 40px + 72px) translateX(97px);
            width: 100%;
            top: 0;
            right: 0;
        }
    }

    .line-t-r {
        @extend .line-inner;

        transform: translateX(227px);
        width: 50%;
        top: 0;
        right: 0;

        &.f {
            transform: translateX(0px);
        }
    }
}

#line-r {
    @extend .line-base;

    width: 1px;
    right: $outline-padding;
    top: $outline-padding + 32px;
    bottom: $outline-padding;

    .line-r-t {
        @extend .line-inner;

        height: 50%;
        right: 0;
    }

    .line-r-b {
        @extend .line-inner;

        height: 50%;
        right: 0;
        bottom: 0;

        .line-r-b-t {
            transform: translateY(-40px);
            height: 50%;
            right: 0;
        }

        .line-r-b-b {
            transform: translateY(40px);
            height: 50%;
            right: 0;
            bottom: 0;
        }
    }
}

$bottom-expanded: 50px;
$bottom-extra-expanded: 180px;

#line-b {
    @extend .line-base;

    left: $outline-padding;
    bottom: $outline-padding;
    right: $outline-padding;
    height: 1px;

    .line-b-l {
        @extend .line-inner;

        transform: translateX(-$bottom-expanded);
        width: 50%;
        bottom: 0;

        &.f {
            transform: translateX(0px);
        }

        &.e {
            transform: translateX(-$bottom-extra-expanded);
        }
    }

    .line-b-r {
        @extend .line-inner;

        transform: translateX($bottom-expanded);
        width: 50%;
        bottom: 0;
        right: 0;

        &.f {
            transform: translateX(0px);
        }

        &.e {
            transform: translateX($bottom-extra-expanded);
        }
    }
}

#line-l {
    @extend .line-base;

    width: 1px;
    left: $outline-padding;
    top: $outline-padding;
    bottom: $outline-padding;

    .line-l-t {
        @extend .line-inner;

        transform: translateY(-50px);
        height: 50%;
        left: 0;

        &.f {
            transform: translateY(0px);
        }
    }

    .line-l-b {
        @extend .line-inner;

        transform: translateY(50px);
        height: 50%;
        left: 0;
        bottom: 0;

        &.f {
            transform: translateY(0px);
        }
    }
}
