@import "../../sass/text-glitch.scss";

#home {
    .left-side {
        padding-top: 38px;

        .bottom-part {
            z-index: 10;
            font-size: 60px;
            position: absolute;
            left: calc(50% - 101px);
            bottom: 0px;

            .store-link {
                transition: $action-transition;
                height: 59px;
                display: inline-block;
                text-decoration: none;
                margin-right: 24px;
                border: 0 solid transparent;
                border-radius: 9px;
                overflow: hidden;

                &:hover {
                    box-shadow: 0px 0px 20px 0px rgba(111, 111, 132, 0.45);
                }
            }
        }
    }

    .right-side {
        margin-top: 40px;

        .phone {
            position: absolute;
            right: 50%;
            transform: translateX(163px);
            bottom: -500px;
            margin: 0 auto;
            opacity: .5;
            width: 334px;
            height: 665px;
            background: url(../assets/phone.png) no-repeat;

            .phone-overlay {
                background: url(../assets/phone-overlay.png) no-repeat;
                position: absolute;
                top: 0;
                left: 10px;
                bottom: 0;
                right: 0;
            }

            .screen {
                position: absolute;
                width: 276px;
                height: 491px;
                overflow: hidden;
                top: 82px;
                left: 33px;
            }

            .head {
                z-index: 4;
                background: url(../assets/phone-head.png) no-repeat;
                position: relative;
                height: 128px;
            }

            .content {
                z-index: 3;
                background: url(../assets/phone-content.png) no-repeat;
                position: relative;
                height: 483px;
                top: -27px;
            }

            .nav {
                z-index: 4;
                background: url(../assets/phone-nav.png) no-repeat;
                position: relative;
                height: 36px;
                top: -155px;
            }
        }
    }

    .subtitle {
        color: #6F6F84;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 6px;
        margin: 0;
    }

    .title {
        color: #595975;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        padding: 6px 20px 21px 20px;
        margin: 0;
    }

    .description {
        color: #6F6F84;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding: 21px 30px 0 30px;
        margin: 0;
    }
}

.radial-gradient {
    height: 64px;
    width: 100%;
    opacity: 0.06;
    background: radial-gradient(circle, #373535 0%, #FFFFFF 100%);
}

@media (min-width: $screen-sm-min) {
    #home {
        background: transparent url(../assets/home-bg.jpg) no-repeat center center;

        .left-side {
            position: absolute;
            right: calc(50% + 15px);
            max-width: 450px;
            top: calc(50% - 250px);
            padding-top: 0;

            .top-part {
                position: relative;
                transition: $transition;
                overflow: hidden;
            }

            .bottom-part {
                position: relative;
                transition: $transition;
                left: 0;
                bottom: 0;

                &.h {
                    bottom: -200px;
                    opacity: 0;
                }
            }

            .bg-text {
                color: #6F6F84;
                font-size: 180px;
                font-weight: bold;
                letter-spacing: 12px;
                position: absolute;
                bottom: -162px;
                right: 50px;
                opacity: 0.08;

                .glitch {
                    white-space: nowrap;

                    @include textGlitch("glitch", 17, #6F6F84, white, red, blue, 450, 115);
                }
            }
        }

        .right-side {
            position: absolute;
            left: 50%;
            transform: translateX(120px);
            top: calc(50% - 334px);
            bottom: calc(50% - 334px);
            margin: 0;
            transition: $transition;

            &.h {
                transform: translateX(440px);
                opacity: 0;
            }

            .phone {
                bottom: 0;
                opacity: 1;
                position: relative;
            }
        }

        .subtitle, .title, .description {
            text-align: left;
            padding: 0;
        }

        .subtitle {
            padding-top: 0;
            font-size: 17px;
        }

        .title {
            font-size: 48px;
            width: 370px;
            padding-bottom: 0;
        }

        .description {
            padding-top: 40px;
            padding-bottom: 79px;
            font-size: 18px;
        }
    }
}
