#corner-t-r {
    right: 26px;
    top: 12px;
    transition: $transition;
    position: fixed;
    opacity: 1;

    &.h {
        top: -100px;
        padding: 0;
        opacity: 0;
    }

    a {
        text-decoration: none;
        opacity: 1;
        height: 28px;
        position: relative;
        transition: background-color $transition-timing-function $action-transition-speed;

        &.h {
            display: none;
        }

        &.home {
            font-size: 24px;

            &:hover span {
                color: #595975;
            }

            span {
                transition: color $transition-timing-function $action-transition-speed;
                color: #94AAB8;
            }
        }

        &.download {
            display: inline-block;
            color: #FFFFFF;
            font-size: 11px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            text-align: center;
            padding: 9px 15px;
            height: auto;
            border-radius: 60px;
            margin: 10px 2px 0 0;

            &:hover, &.b:hover, &.w:hover {
                background-color: #E84B3C;
                color: #FFFFFF;
            }

            &.h {
                width: 0;
                padding: 0;
                overflow: hidden;
            }

            &.b {
                background-color: #2B2E3D;
            }

            &.w {
                background-color: #FFFFFF;
                color: #2B2E3D;
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    #corner-t-r {
        right: $outline-padding - 14px;
        top: $outline-padding - 26px;

        a.download {
            font-size: 14px;
            margin: 0 13px 0 0;
            padding: 15px 21px;

            &.h {
                margin: 0;
            }
        }
    }
}
