#corner-t-r {
    right: 26px;
    top: 22px;
    transition: $fast-transition;
    position: fixed;
    opacity: 1;

    &.h {
        right: 0;
        top: 0;
        padding: 0;
        opacity: 0;
    }

    a {
        text-decoration: none;
        opacity: 1;
        height: 28px;

        &.h {
            opacity: 0;
            display: none;
        }

        &.home {
            font-size: 27px;
        }

        &.download {
            display: inline-block;
            color: #FFFFFF;
            font-size: 11px;
            font-weight: 500;
            text-align: center;
            padding: 9px 15px;
            height: auto;
            border-radius: 60px;
            background-color: #E84B3C;
            margin: 8px 2px 0 0;

            &.h {
                width: 0;
                padding: 0;
            }

            &.b {
                background-color: #2B2E3D;
            }

            &.w {
                font-weight: 500;
                background-color: #FFFFFF;
                color: #2B2E3D;
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    #corner-t-r {
        right: $outline-padding - 13px;
        top: $outline-padding - 13px;

        a.download {
            margin: 0;
        }
    }
}
