#testimonials {
    .content-title {
        text-align: center;
        transition: $transition;
        position: relative;
        font-size: 20px;
        color: #6F6F84;
        font-weight: 300;
        margin: 50px 0 42px 0;
        opacity: 1;
        top: 0;

        &.h {
            top: -300px;
            opacity: 0;
        }
    }

    .arrow {
        position: absolute;
        top: 270px;
        font-size: 38px;
        text-decoration: none;
        transition: $transition;
        z-index: 10;
        opacity: 1;

        &:hover [class^="icon-"], &:hover [class*=" icon-"] {
            color: #F04444;
        }

        &.left {
            left: 26px;

            &.h {
                left: -52px;
                opacity: 0;
            }
        }

        &.right {
            right: 26px;

            &.h {
                right: -52px;
                opacity: 0;
            }
        }
    }

    .coach-list {
        $thumb-size: 70px;

        position: relative;

        li.coach {
            list-style: none;
        }

        .coach-thumbnails {
            padding: 0;
            position: absolute;
            height: $thumb-size;
            width: $thumb-size * 5;
            left: 50%;
            transform: translateX(-$thumb-size * 5 / 2);
            transition: $transition;
            text-align: center;
            opacity: 1;
            top: 0;

            &.h {
                top: -300px;
                opacity: 0;
            }

            .coach {
                top: 0;
                position: absolute;
                display: inline-block;
                transition: transform $transition-timing-function $transition-speed;

                a {
                    transition: $action-transition;
                    display: block;
                    float: left;
                    text-decoration: none;
                }

                img {
                    transition: $action-transition;
                    width: $thumb-size;
                    height: $thumb-size;
                    border-radius: $thumb-size;
                    box-shadow: 0 2px 15px 0 rgba(89, 89, 117, 0.44);
                }
            }

            .active {
                z-index: 10;
            }

            .blur img {
                filter: blur(1px);
            }

            $positions: 3, 1, 4, 2, 5;

            .pos-1 {
                transform: translateX(-2 * ($thumb-size - 15px));
            }

            .pos-2 {
                transform: translateX(-$thumb-size - 5px);
            }

            .pos-3 {
                transform: translateX(-($thumb-size / 2));
            }

            .pos-4 {
                transform: translateX($thumb-size - 15px - $thumb-size / 2);
            }

            .pos-5 {
                transform: translateX(2 * ($thumb-size - 20px) - $thumb-size / 2);
            }

            $sizes: 1, 2;

            @each $size in $sizes {
                .size-#{$size} {
                    z-index: 10 - $size;

                    &:hover {
                        z-index: 11;

                        img {
                            filter: blur(0px);
                        }
                    }

                    img {
                        width: $thumb-size - 10px * $size;
                        height: $thumb-size - 10px * $size;
                    }
                }
            }
        }

        .coach-testimonials {
            position: relative;
            height: 200px;
            padding: 0;
            top: $thumb-size + 20px;

            h3 {
                font-size: 23.5px;
                font-weight: bold;
                color: #6F6F84;
                margin: 20px 0 0 0;
            }

            h4 {
                color: #94AAB8;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 16px;
                margin: 3px 0 0 0;
            }

            p {
                color: #6F6F84;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 16px;
                margin: 20px 0 0 0;
            }

            .coach {
                position: absolute;
                display: inline-block;
                width: 270px;
                text-align: center;
                top: 0;
                left: 50%;
                transform: translateX(-135px);
                transition: $transition;
                z-index: 0;
            }

            .h .move-up-wrap .move-up {
                top: 150px;
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    #testimonials {
        .content-title {
            font-size: 25.5px;
            margin: 100px 0 50px 0;
        }

        .arrow {
            top: calc(50% - 36px);
            font-size: 72px;

            &.left {
                left: calc(50% - 104px - 220px);
            }

            &.right {
                right: calc(50% - 104px - 220px);
            }
        }

        .coach-list .coach-testimonials .coach {
            width: 414px;
            transform: translateX(-207px);
        }
    }
}
