#achievement {
    text-align: center;
    color: #fff;
    background: #0E162F url("../assets/achievement-bg.jpg") center center no-repeat;
    background-size: auto 100%;

    .icon-appstore {
        font-size: 60px;
    }

    .content-title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 12px;

        small {
            font-size: 10px;
            font-family: 'Roboto';
            font-weight: 300;
        }
    }

    .page-content {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        margin: 0 20px 22px 20px;
    }

    .footer-icon {
        display: block;

        a {
            text-decoration: none;
        }
    }

    .page-footer {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;

        .footer-link {
            text-decoration: none;
            color: #FFFFFF;
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: 10px;
            margin: 0 8px;
        }
    }
}

@media (min-width: $screen-sm-min) {
    #achievement {
        .content-title {
            font-size: 90px;
            margin-bottom: 17px;

            small {
                font-size: 12px;
            }
        }

        .page-content {
            font-size: 22px;
            margin: 0 25% 43px 25%;
        }

        .page-footer {
            bottom: -9.5px;
            left: 0;
            right: 0;

            .footer-link {
                font-size: 16px;
                margin: 0 8px;
            }
        }
    }
}
