#pager {
    transition: $pager-transition;

    .top {
        position: fixed;
        left: calc(50% - 83px);
        top: 48px;
        opacity: 0.15;
        color: #6F6F84;
        font-size: 119px;
        font-weight: bold;
        text-align: center;
        width: 166px;

        .top-curr {
            transition: $pager-transition;
            position: relative;
            bottom: 0;
            opacity: 1;

            &.t {
                bottom: 100px;
                opacity: 0;
            }
        }
    }

    .side {
        position: fixed;
        top: calc(50% - 20px);
        height: 40px;
        width: ($outline-padding * 2);
        transition: $pager-transition;

        .number {
            position: absolute;
        }

        .curr {
            @extend .number;
            margin-left: $outline-padding - 11px;
            transition: $pager-transition;
            &.l {
                margin-left: 0px;
                opacity: 0;
            }
        }

        .total {
            @extend .number;
            right: calc(50% - 11px);
            bottom: 0px;
        }

        .line-pager {
            height: 1px;
            width: 30px;
            margin-left: $outline-padding - 15px;
            transform: rotate(-45deg);
            top: 50%;
            position: relative;
        }
    }
}

@media (min-width: $screen-sm-min) {
    #pager {
        .top {
            top: 20px;
        }
    }
}