#pager {
    transition: $pager-transition;

    &.transparent .top {
        opacity: 0;
    }

    .top {
        position: fixed;
        left: calc(50% - 83px);
        top: 52px;
        opacity: 0.08;
        color: #6F6F84;
        font-size: 119px;
        font-weight: bold;
        text-align: center;
        width: 166px;

        .top-curr {
            transition: $pager-transition;
            position: relative;
            bottom: 0;
            opacity: 1;

            &.t {
                bottom: 400px;
                opacity: 0;
            }
        }
    }

    .side {
        position: fixed;
        top: calc(50% -  31px);
        height: 62px;
        width: $outline-padding * 2;
        transition: $pager-transition;

        .number {
            position: absolute;
            font-size: 25.5px;
            font-weight: 300;
        }

        .curr {
            @extend .number;

            margin-left: $outline-padding - 15px;
            transition: $pager-transition;
            color: #E84B3C;

            &.l {
                margin-left: 0px;
                opacity: 0;
            }
        }

        .total {
            @extend .number;

            right: calc(50% - 15px);
            bottom: 0px;
            color: #595975;
        }

        .line-pager {
            height: 1px;
            width: 37px;
            margin-left: $outline-padding - 18px;
            transform: rotate(-60deg);
            top: 50%;
            position: relative;
        }
    }
}

@media (min-width: $screen-sm-min) {
    #pager {
        .top {
            top: $outline-padding - 101px;
            font-size: 202px;
        }
    }
}
